.carousel-item {
  height: 100vh;
  max-height: 600px !important;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  color: black;
  padding-bottom: 400px;
}
