.carousel-item {
 
  height: 100vh;
  max-height: 600px !important;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  color: white;
 
}

h3 {
  font-weight: 500;
}

.card-header, #running-search, #clearly-all {
  background-color: #ffc107;
  color: white;
}

#winebox {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}