.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .carousel-caption {
  padding-bottom: 330px;
  font-family: "Fjalla One", sans-serif;
  position: fixed;
} */

h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
}
p {
  font-family: "Fjalla One", sans-serif;
  font-size: 19px;
}

.card-body {
  background: #000 url("https://source.unsplash.com/U7HLzMO4SIY/1920x1080")
    center center;
}
.card-body1 {
  background: #000 url("https://source.unsplash.com/JKMnm3CIncw/1920x1080")
    center center;
}
