* {
  box-sizing: border-box;
}
.carousel-item {
  height: 100vh;
  max-height: 600px !important;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.display-4 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 40px;
  height: inherit;
  padding: 3% 0;
}
p {
  font-family: "Fjalla One", sans-serif;
  font-size: 19px;
}
.array {
  font-size: small;
}
.card-header {
  background-color: #17a2b8;
  color: white;
}
.eventsInfo {
  padding: 30px;
}
#photo {
  border: 3px solid white;
}
#box {
  padding: 20px;
}
#colm {
  padding: 10px;
  position: center;
}
#colm2 {
  padding: 10px;
  position: center;
  margin-left: -10px;
}
#status {
  color: #17a2b8;
  font: bolder;
}
#top-row {
  width: 100%;
  justify-content: space-evenly;
  padding-left: 40px;
}
#eventbox,
#barsbox {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}
.resultBtn {
  margin-left: 10px;
}
/*#border-font{
  border white with light shadow
  text-shadow: 
     2px  2px     rgb(0, 87, 250), 
    -1px  2px     rgb(0, 87, 250), 
     1px -1px     rgb(0, 87, 250), 
    -1px -1px     rgb(0, 87, 250),
     1px  1px 5px white;
}*/